h1{
    font-size: 25px;
    color:blueviolet;
}

p{
    font-size: 20px;
    line-height: 1.5;
}

.about-me{
    padding: 25px;
    background-color:aliceblue;
}

#profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}