h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.weather{
    border: 2px solid black;
    height: auto;
    width: auto;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
    background-color: beige;
    margin-bottom: 10px;
}